* {
    text-align: center;
    font-family: sans-serif;
    background-color: hsl(206deg 33% 96%);
    letter-spacing: 1px;
    transition: all 0.3s linear;
}

body {
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    border: 1px solid black;
    width: 600px;
    background-color: rgb(18, 39, 100);
    color: seashell;
    border-radius: 10px;
}

#listItem {
    background-color: rgb(18, 39, 100);
    display: inline-block;
    width: 400px;
    margin-top: 10px;
}

#done {
    position: relative;
    margin-left: 19px;
    background: url('images/task_icon.png');
    background-repeat: no-repeat;
    background-size: 17px;
    width: 19px;
    height: 19px;
    display: inline-block;
}

#remove {
    background: url('images/delete_icon.png');
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#submit, #task {
    border-radius: 10px;
    background-color: rgb(18, 39, 100);
    color: seashell;
    height: 30px;
    font-size: 16px;
    margin-left: 10px;
}

h1 {
    background-color: rgb(18, 39, 100);
}

ol {
    background-color: rgb(18, 39, 100);
}

li {
    background-color: rgb(18, 39, 100);
}